<p id="notice"><%= notice %></p>

<p>
  <b>Receiver:</b>
  <%= @message.receiver %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Created at:</b>
  <%= @message.created_at %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
